
@{
     ViewBag.Title = "Hairband Installer";
}

<form action="" method="post" class="form-horizontal">
    <div class="form-group">
        <label for="AdminEnabled">Enable Site Administration</label>
        <input type="checkbox" name="AdminEnabled" value="true" checked="checked" class="form-control" />
    </div>
  
    <button type="submit" class="btn btn-success">Install</button>
</form>