@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
     ViewBag.Title = "Hairband Installer";
}

<form action="" method="post">
    Enable Admin: <input type="checkbox" name="AdminEnabled" value="true" checked="checked" />
    <button type="submit" class="btn">Install</button>
</form>