<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">{{site.name}}</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% for c_page in site.pages %}
                {%if c_page.parent == '' %}
                {%if c_page.children_count > 0 %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{c_page.title}} <span class="caret"></span></a>                  
                    <ul class="dropdown-menu">
                        {%for child in site.pages %}
                        {%if child.parent == c_page.title %}
                        <li><a href="/{{child.url[0]}}">{{child.title}}</a></li>
                        {%endif%}
                        {%endfor%}
                    </ul>
                </li>
                {%else%}

                <li><a href="/{{c_page.url[0]}}">{{c_page.title}}</a></li>
                {%endif%}

                {% endif %}
                {% endfor %}
            </ul>
            {% if site.admin_enabled == "true" %}
            {% if user.username != null %}
            <form action="/_account/logoff" method="post" id="logoutForm" class="navbar-right">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/_account/manage" title="Manage">Hello {{user.username}}!</a>
                    </li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                </ul>
            </form>
            {%  else %}
            <ul class="nav navbar-nav navbar-right">
                <li><a id="registerLink" href="/_account/register">Register</a></li>
                <li><a id="loginLink" href="/_account/login">Log in</a></li>
            </ul>
            {% endif %}
            {%endif%}
        </div>
    </div>
</div>
