@model PageData

@*
   
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // ViewBag.Title = "Home Page";
    ViewBag.Title = Model.Metadata.title;
}
<h1>@Model.Metadata.title</h1>

<div>
    @Html.Raw(Model.Content)
</div>


@if(Model.Settings.ContainsKey("posted"))
{
    <span>
        @(DateTime.Parse(Model.Settings["posted"]).ToLongDateString())
    </span>
}

@if(Model.Settings.ContainsKey("author"))
{
    <span>@Model.Settings["author"]</span>
}